.container {
  display: flex;
}
.content {
  height: 948px;
  width: 1140px;
  background: linear-gradient(248.66deg, #f0b5ce 0%, #8c6bae 100%);
  background-repeat: no-repeat;
}
.cloudIcon {
  position: absolute;
  margin-left: 82.09px;
  margin-bottom: 733px;
  margin-top: 87.7px;
}
.MoonIcon {
  position: absolute;
  left: 5.75%;
  right: 17.07%;
  top: 3.99%;
  bottom: 75.68%;
  transform: translate(-56%, -27%);

  box-shadow: 28px 45px 0 5px #713ffd;
  border-radius: 150%;
}
.temp {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-size: 140px;
  color: #ffffff;
  margin-top: 12%;
  margin-left: 69px;
}

sup {
  font-size: 36px;
  position: absolute;
  top: 16%;
}
.form {
  background: linear-gradient(248.66deg, #f0b5ce 0%, #8c6bae 100%);
  background-repeat: no-repeat;
  height: 948px;
  width: 698px;
}
.climate {
  display: flex;
  justify-content: space-evenly;
}
.time {
  position: absolute;
  width: 105px;
  height: 210px;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 100px;
  margin-top: 28px;
  margin-left: 0px;
}
.specification {
  font-family: "Inter";
  margin-left: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height, or 34px */
  color: #ffffff;
  text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
}
.sunrise {
  margin-top: 134px;
}
.ghour {
  margin-top: 45px;
}
.ghourbox {
  height: 280px;
  width: 140px;
  margin-left: 16px;
}
.line {
  border-bottom: 2px solid white;
  margin-top: 295px;
  width: 73%;
  margin-left: 14%;
}
.airQuality {
  margin-top: 300px;
  border-top: 1px solid white;
  margin-left: 48px;
  margin-right: 75px;
}

p {
  margin-top: 10px;
}
.date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 120%;
  /* or 43px */
  margin-left: 78px;
  margin-top: 35%;
  color: #ffffff;

  text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
}
.details {
  display: flex;
  justify-content: space-around;
  width: 72%;
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  margin-left: 52px;
  margin-top: 40px;
  /* identical to box height */

  color: #ffffff;

  text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
}
.furtherDayDetail {
  margin-top: 140px;
  display: flex;
  justify-content: space-evenly;
  width: 95%;
}
.arrow {
  width: 26.5px;
  height: 35.5px;
  margin-top: 80px;
}
.arc1 {
  position: absolute;
  left: 67%;
  top: 82.52%;
}
.arc2 {
  position: absolute;
  top: 79%;
  left: 67.6%;
}
.arc3 {
  position: absolute;

  left: 69.5%;
  top: 77.5%;
}
.arc4 {
  position: absolute;
  top: 77.5%;
  left: 72%;
}
.arc5 {
  position: absolute;
  left: 74.4%;
  top: 79%;
}
.arc6 {
  position: absolute;
  top: 82.7%;
  left: 76%;
}
.Pointer {
  position: absolute;
  top: 78%;
  left: 69.5%;
}
.arc11 {
  position: absolute;
  left: 85%;
  top: 82.52%;
}
.arc21 {
  position: absolute;
  top: 79%;
  left: 85.6%;
}
.arc31 {
  position: absolute;

  left: 87.5%;
  top: 77.5%;
}
.arc41 {
  position: absolute;
  top: 77.5%;
  left: 90%;
}
.arc51 {
  position: absolute;
  left: 92.4%;
  top: 79%;
}
.arc61 {
  position: absolute;
  top: 82.4%;
  left: 94%;
}
.Pointer1 {
  position: absolute;
  top: 78%;
  left: 91.7%;
}
span {
  position: absolute;
  top: 68%;
  left: 68%;
}
p {
  position: absolute;
  left: 87%;
  top: 67%;
}
.meter {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 120%;
  color: #ffffff;
}
.rating1 {
  top: 84%;
  left: 89%;
  font-size: 20px;
}
.mv1 {
  top: 80%;
  left: 89%;
  font-size: 20px;
}
.i {
  position: absolute;
  top: 57%;
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #ffffff;
  left: 96%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.23);
  padding: 15px;
  background: rgba(255, 255, 255, 0.23);
}
