.locationIcon {
  margin-top: 53.67px;
  margin-left: 44px;
}
input {
  margin-top: 52px;
  margin-left: 35.37px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 120%;
  color: #ffffff;
  text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
  background: transparent;
  border: 0px solid transparent;
}
.submitBtn {
  padding: 16px 15px 17px 16px;
  margin-left: 100px;
  background: linear-gradient(
    116.79deg,
    rgba(255, 255, 255, 0.48) 0%,
    rgba(255, 255, 255, 0.12) 99.45%
  );
  backdrop-filter: blur(100px);
  border-radius: 20px;
  border: 0.5px solid white;
}
